XML/XML_DTD/src/xml/teacher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.example.org/teacher" 
		elementFormDefault="qualified">
		<!-- 复杂元素 -->
		<element name="teachers">
			<complexType>
				<sequence>
					<!-- 复杂元素 -->
					<element name="teacher">
						<complexType>
							<sequence>
								<!-- 简单元素 -->
								<element name="name" type="string"></element>
								<element name="age" type="int"></element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
		</element>
		
</schema>